# Default ignored files
/shelf/
.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.gradle
out
###
.metadata
bin/
tm/
*.tmp
*.bak
*.sw*~.nib
.settings/
.project
.classpath
